# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------

numpy


PyYAML
request
scipy  # Google Colab version

torchvision
tqdm
protobuf # https://github.com/ultralytics/yolov5/issues/8012
ultralytics


# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop  # FLOPs computation
streamlit
wget
glob2
os-win
torch
Pillow
opencv-python-headless
